{% extends '../hck/base.html' %} 
{% block title %}Login{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<style>
  body{
    background-color: #000f26;
  }
  form{
    color: white;
    text-align: center;
  }
  .form-label{
    color: white;
    font-size: 20px;
  }
  h1{
    color: white;
  }
  .form-control:hover {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .form-control:not(:placeholder-shown) {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }

</style>
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-6 col-md-8 rounded-md col-sm-10">
      <div class="card bg-dark  border-radius-10">
        <div class="card-body">
          <h1 class="text-center mb-4"><u>Login Page</u></h1>
          <form method="post" class="text-white">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-center">
              <p class="mb-0">Hospital not found? Click <a href="/sign-up" style="text-decoration:none;color:white">here!</a></p>
              <button type="submit" class="btn btn-outline-info mt-3">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
