{% extends '../hck/base.html' %} 
{% comment %} {% block title %}Login{% endblock title %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">NAME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
          <li >
            <a class="nav-link active px-5" style="color:aqua;"aria-current="page" href="/">HOME</a>
          </li>
      <li class="nav-item" >
        <a class="nav-link active px-5" style="color:aqua;"aria-current="page" href="/patients">PATIENTS PORTAL</a>
      </li>
    </ul>
      </div>
    </div>
  </nav>  {% endcomment %}
  {% block content %}
{% load crispy_forms_tags %}
  <div class=" flex container" style="padding-left:25%;padding-top:10%;">
    
    <div class="flex-r login-wrapper">

        <div class="login-text" >
    <center><form method="post">
      <h1><u>Login Page</u></h1><br>
      {% csrf_token %}
      {{form|crispy}}
      <center><p>Hospital not found? <br> Click <a href='/sign-up'>here!</a></p> </center>
    <center><button type="submit" class="btn btn-outline-info">Login</button></center>
    </form>
  </div> 
</div> </div> 
{% endblock content %}