{% extends '../hck/base.html' %} 
{% block title %}Login{% endblock title %}
  {% block content %}
{% load crispy_forms_tags %}
  <div class=" flex container" style="padding-left:20%;padding-right:15%;padding-top:10%;    width: 100%;
  min-height: 93vh;
  background: rgb(161, 214, 253);  ">
    
    <div class="flex-r login-wrapper">
        <div class="login-text" style="   background-color: #F6F6F6;
        max-width: 500px;
        min-height: 300px;
        border-radius: 10px;
        padding: 20px 20px;margin-left:40px" >
    <center><form method="post" style="  align-items: flex-start !important;
      width: 100%;
      margin-top: 15px;
  ">
      <h1><u>Login Page</u></h1><br>
      {% csrf_token %}
      {{form|crispy}}
      <center><p>Hospital not found? <br> Click <a href='/sign-up'>here!</a></p> </center>
    <center><button type="submit" class="btn btn-outline-info">Login</button></center>
    </form>
  </div> 
</div> </div> 
{% endblock content %}