{% extends '../hck/base.html' %}
{% block title %}Sign Up{% endblock%}
{% load crispy_forms_tags %} {% block content %}

  <div class=" flex container" style="padding-left:15%;padding-right:15%;padding-top:1.5%;padding-bottom:1.5%; width: 100%;
  min-height: 93vh;
  background: rgb(161, 214, 253);  ">
    
    <div class="flex-r login-wrapper">
        <div class="login-text" style=" background-color: #F6F6F6;
        max-width: 500px;
        min-height: 300px;
        border-radius: 10px;
        padding: 20px 20px;margin-left:24%" >
    <center><form method="post" style="  align-items: flex-start !important;
      width: 100%;
      margin-top: 15px;
  ">
<form method="post">
  <h1><u>Registration</u></h1><br>
  {% csrf_token %}
  {{form|crispy}}
  <div class="form-group">
    <center><button type="submit" class="btn btn-outline-info">Register</button></center>
  </div>
  <center><p> Already Registered? <br> Login <a href='/login'>here</a></p></center>
</div></div></div>

</form>

{% endblock %}