{% extends 'hck/hospital/hospitals.html' %}
<title>{% block title %}Sevak{% endblock title %}</title>

{% block content %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-left" id="navbarTogglerDemo03">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Portal
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/patients">Patients</a></li>
          <li><a class="dropdown-item" href="/hospitals">Hospitals</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about">About</a>
      </li>
    </ul>
    <a class="navbar-brand" href="/" style="font:verdana">Sevak</a>
  </div>
</nav>
<style>
  body {
    {% comment %}  {% endcomment %}
    background-color: #000f26;
  }
h1{
  color:white;
}
  .card { 
    height: 100%;
    border: 2px solid white;
    background-color: black; /* Add black background color */
    color:white;
    transition: background-color 1s;
  }
  .card:hover {
    background-color: #1f1f1f; /* Update the hover background color */
    transform: scale(1.05);
  }
  .custom-card{
    margin-bottom: 20px;

  }
  h5{
    color: #000f26;
  }
  .container {
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: 768px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 1140px;
    }
  }
</style>

</br>

  <div class="container">
    <h1>Features</h1> 
    <div class="row container" style="margin-bottom: 35px;">
      {% for feature in features %}
      <div class="col-lg-6 col-md-12 custom-card">
        </br>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title text-white text-center">{{ feature.title }}</h5>
            <p class="card-text text-white">{{ feature.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <h1 class="text-center">Business Model</h1>
    <div class="row container">
      {% for model in business_models %}
      <div class="col-lg-4 col-md-12 col-sm-12 custom-card">
        </br>
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title text-white text-center">{{ model.title }}</h5>
            <p class="card-text text-white">{{ model.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
