{% extends 'hck/hospital/hospitals.html' %}
    <title> {% block title %}Sevak{% endblock title %}</title>

{% block content %}
<div style="background-color:black;color:aqua;">
<center><h1 style="color:red;">Features:</h1></center>
<ul>
<li><h5>Our web application serves as a one-stop resource for patients to locate physicians specialized in treating their specific symptoms by searching for the city, physician's name, or the physician's area of specialization. 🤚</h5></li>
<li><h5>Also, our service provides patients with the convenience of accessing information about the clinics or hospitals where their chosen physician practices, allowing them to consider both hospitals and clinics as options for treatment. 🏥</h5></li>
<li><h5>Hospitals are also able to register with our service and provide information about the doctors they have on staff, thus contributing to our mission of assisting patients in finding physicians in their local area. ✅</h5></li>
<li><h5>Access to add information about doctors is restricted to authenticated users only. ✔️
        Thus allowing no external organisation to edit any information of the hospital
    </h5></li>
  </ul>
    <center><h1  style="color:red;">Business Model:</h1></center>
<div class="row row-cols-1 row-cols-md-2 g-4" style="color:brown;padding-left:7%;padding-right:7%;font-family:aria">
    <div class="col">
      <div class="card" style="background-color:aqua">
        <div class="card-body">
          <h5 class="card-title">Freemium</h5>
          <p class="card-text">The app could be offered for free, with users paying for additional premium features such as more detailed search results or the ability to book appointments directly through the app.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="background-color:aqua">
 
        <div class="card-body">
          <h5 class="card-title">Subscription-based:</h5>
          <p class="card-text">Under this model, users would pay a recurring fee in order to access certain features of the app, such as the ability to search for medical professionals and treatment options.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="background-color:aqua">

        <div class="card-body">
          <h5 class="card-title">Advertising:</h5>
          <p class="card-text"> Healthcare providers could pay to advertise their services on the app through sponsored search results or banner ads.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="background-color:aqua">
   
        <div class="card-body">
          <h5 class="card-title">Commission-based:</h5>
          <p class="card-text">The app could take a percentage of the fees charged by the medical professionals and hospitals listed on the platform, similar to how online travel agencies function.
    </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="background-color:aqua">
   
        <div class="card-body">
          <h5 class="card-title">Hybrid: </h5>
          <p class="card-text">This model could combine elements of multiple business models, such as offering a basic version for free while charging for premium features and/or allowing healthcare providers to advertise on the platform.
    </p>
        </div>
      </div>
    </div>

  <div class="container-sm">
   
    
    </div>
</div>

{% endblock content %}