{% extends 'base.html' %}
{% block content %}
<div class="container">

    Finding the right doctor won't be a hassle anymore.

    Our target audience are patients who are unfamiliar with the local area and wish to determine the number of physicians available to consult or treat their symptoms.
    
    - Our web application serves as a one-stop resource for patients to locate physicians specialized in treating their specific symptoms by searching for the city, physician's name, or the physician's area of specialization.
    
    - Also, our service provides patients with the convenience of accessing information about the clinics or hospitals where their chosen physician practices, allowing them to consider both hospitals and clinics as options for treatment.
    
    - Hospitals are also able to register with our service and provide information about the doctors they have on staff, thus contributing to our mission of assisting patients in finding physicians in their local area.
    
    - Access to add information about doctors is restricted to authenticated users only.
    
    </div>
</div>

{% endblock content %}