
/* .form-label{
display: flex;
justify-content: center;
align-items: center;
} */

.form-text{
    display: none;
}
li{
    margin-left: 5%;
}

  
  /* Style the form header */
  .form-header {
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Style the form title */
  .form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style the form fields */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    /* display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333; */
    font-size: 15px;
    color: black;
    margin-bottom: 3px;
  }
  /* Style the form button */
  .form-button {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
  }
  
  .form-button:hover {
    background-color: #0069d9;
    cursor: pointer;
  }
  
.po{
    color:white;;
    animation: example 5s;
    animation-timing-function:ease-in-out;
     animation-iteration-count: infinite;
     /* font-family: 'Unbounded'; */
      /* font-family: 'Merriweather';
      font-style: italic; */
      font-weight: 400;
      font-display: swap;
    animation-direction:alternate;
}
@keyframes example {
    from   {background-color:black;}
    to  {background-color:midnightblue; }
  } 
/*.card-body{
     font-family: 'Unbounded';
    font-style: italic;
}

.container{
    width: 100%;
    min-height: 93vh;
    background: rgb(161, 214, 253);  
}


.login-text{
    background-color: #F6F6F6;
    max-width: 500px;
    min-height: 300px;
    border-radius: 10px;
    padding: 10px 20px;
}


.login-text h1{
    font-size: 25px;
}
.login-text p{
    font-size: 15px;
    color: #000000B2;
}

form{
    align-items: flex-start !important;
    width: 100%;
    margin-top: 15px;
}
*/